html, body {
  height: 100%;
  width: 100%;
  margin:0;
  font-family: 'quicksand', sans-serif;
}

span, p {
  margin: 15px 15px 15px 15px;
  font-size: 10pt;

}

/* sets map area to fill entire screen, margin-left creates space for the sidebar */
#map-container {
  height: 100%;
  width: 100%;
  background: #CDD8EF;
  margin-left:28%;
}

#sidebar {
  height: 100%;
  width: 28%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F3F3F3;
  overflow-x: hidden;
  padding: 10px;
  margin: auto;

}

h1, h2, h3, h5, h6 {
  margin: 15px 15px 15px 15px;
}

#title {
  font-family: 'quicksand', sans-serif;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}

.nav-item {
  font-family: 'quicksand', sans-serif;
}

.btn {
  margin: 3px;
  font-weight: 400;
  border-radius: 5px;
  display: inline-block;
}

/* wrapper container for centering first line of buttons */
#buttons-container {
  width: 100%;
  text-align: center;
}

#buttonTypology {
  width: 70%;
  margin: 0 auto;
}

.legend-color-box {
  height: 15px;
  width: 15px;
  float: left;
  margin-left: 15px;
  margin-top: 5px;

}

.tab-pane {
  height:100%;
  padding:15px;
}

.tab-content {
  background-color: #FFEECD;
  border-style: groove;
  border-radius: 15px;
}

.heading {
  font-family: 'quicksand', sans-serif;
  font-weight: bold;
}
