html, body {
  height: 100%;
  width: 100%;
  margin:0;
  font-family: 'lato';
}

span, p {
  margin: 15px 15px 15px 15px;
  font-size: 10pt;

}

/* sets map area to fill entire screen, margin-left creates space for the sidebar */
#mapContainer {
  height: 100%;
  width: 100%;
  background: lightgray;
  margin-left:30%;
}

#sidebar {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E5E5E5;
  overflow-x: hidden;
  padding: 20px;
  margin: auto;

}

/* Code for color styling of MapboxGL popups */
/* from https://stackoverflow.com/questions/44554692/style-a-mapbox-popups-pointer-indicator */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #262626;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #262626;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #262626;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #262626;
}
.mapboxgl-popup-content {
  background-color: #262626;
}


h1, h2, h3, h5, h6 {
  margin: 15px 15px 15px 15px;
}

#title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24pt;
  text-align: center;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
}

.btn {
  margin: 2px;
  font-weight: 500;
  border-radius: 5px;
  display: inline-block;
}

/* wrapper container for centering first line of buttons */
#buttons-container {
  width: 100%;
  text-align: center;
}

#buttonTypology {
  width: 94%;
  margin: 0 auto;
}

.legend-color-box {
  height: 15px;
  width: 15px;
  float: left;
  margin-left: 15px;
  margin-top: 5px;

}

.tab-pane {
  height:100%;
  padding:15px;
}

.tab-content {
  background-color: lavender;
  border-style: groove;
  border-radius: 15px;
}

.heading {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
